.slider {
    position: relative;
    float: right;
    width: 420px;
    height: 420px;
    overflow: hidden;
    z-index: 0;
    border-radius: 40px;
    margin-top: 60px;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}
